/*footer*/

.footerWrapper {
  background-color: rgb(181 172 138);
  padding: 30px 70px 30px;
}
.footerContainer, .footerMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
.footerTitle {
  width: 33.3333%;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.footerTitle img {
  max-width: 280px;
  width: 100%;
}
.footerTitle h2 {
  font-size: 60px;
}
.footerTitle span {
  font-size: 20px;
}
.footerMenu .MenuItem {
  font-size: 20px;
  margin-right: 50px;
}
.footerMenu .MenuItem::before {
  content: " | ";
}
.footerMenu .MenuItem a {
  color: #fff;
  font-weight: 400;
  text-decoration: none;
}
.align-items {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.copyright {
  color: #fff;
  width: 66.6666%;
  text-align: right;
  margin-right: 50px;
}
.snsbtn {
  width: 33.3333%;
  text-align: center;
}
.snsbtn a {
  color: #fff;
  padding: 0 10px;
}
.snsbtn svg {
  size: 20px;
}
