.page-section {
  text-align: center;
}

.page-section .catchcopy {
  font-size: 32px;
  letter-spacing: 10px;
  font-family: Yu Mincho;
}

.page-section .catchcopy strong {
  font-size: 60px;
  color: #ffc800;
}

/*info*/
.blog-list {
  display: flex;
  flex-direction: column;
}
.blog-item:first-child {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}
.blog-item {
  border-bottom: 1px solid #e0e0e0;
}

.blog-item a, .blog-item .form-contents {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 22px 30px;
  text-decoration: none;
}

.blog-item .ma-rig, .blog-item .admin-blog {
  padding: 0;
  margin-right: 0;
  margin-left: auto;
}

.blog-item time, .blog-item .sight-name, .blog-item .cu-name {
  display: block;
  margin-right: 60px;
  color: #6c757d;
  font-size: 16px;
  font-weight: bold;
  width: 130px;
}

.blog-item .orange {
  background-color: #f09f42;
}

.blog-item .category {
  display: flex;
  justify-content: center;
  width: 130px;
  margin-right: 50px;
  padding: 2px 5px;
  color: #fff;
  font-size: 16px;
}

.blog-item .sight-contents {
  max-width: 700px;
  width: 100%;
  margin-right: 60px;
}

.blog-item .cu-email {
  max-width: 315px;
  width: 100%;
  margin-right: 60px;
}

.blog-item p {
  color: #6c757d;
  font-size: 16px;
}

/* form */
.container form, .container form {
  display: grid;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}

form input, form input, textarea {
  margin: 30px auto;
  padding: 10px;
  font-size: 20px;
  width: 100%;
}

.admin form input, form input, textarea, select {
  margin: 15px auto;
  padding: 8px;
  font-size: 20px;
  width: 100%;
}

.login .container img {
  margin: 60px 0;
}

.admin .container .title {
  font-size: 25px;
}

.admin .container strong {
  color: #ffc800;
  font-size: 35px;
}

.member-contents {
  margin: 50px auto;
  font-size: 20px;
  width: 80%;
  border-collapse: collapse;
  font-family: Yu Mincho;
}

.member-contents, .member-contents th, .member-contents td {
  border-bottom: 1px solid #e0e0e0;
  border-collapse: collapse;
}

.member-contents .member-items th, .member-contents .member-items td{
  padding: 10px;
}

.member-contents .member-items th {
  width: 40%;
}

.member-contents .member-items td {
  width: 60%;
} 

.regi-contents .regi-items input{
  margin-top: 0px;
}
.regi-contents .regi-items p {
  text-align: left;
  font-size: 20px;
  margin-bottom: 5px;
}
.regi-contents strong {
  color: red;
}

.search p label{
  text-align: left;
  font-size: 20px;
  margin-bottom: 5px;
}
