.page-section {
  text-align: center;
}

.page-section .catchcopy {
  font-size: 32px;
  letter-spacing: 10px;
  font-family: Yu Mincho;
}

.page-section .catchcopy strong {
  font-size: 60px;
  color: #ffc800;
}

/*info*/
.blog-list {
  display: flex;
  flex-direction: column;
}
.blog-item:first-child {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.blog-item a {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 22px 30px;
  text-decoration: none;
}

.blog-item time {
  display: block;
  margin-right: 60px;
  color: #6c757d;
  font-size: 16px;
  font-weight: bold;
}

.blog-item .orange {
  background-color: #f09f42;
}

.blog-item .category {
  display: flex;
  justify-content: center;
  width: 130px;
  margin-right: 50px;
  padding: 2px 5px;
  color: #fff;
  font-size: 16px;
}

.blog-item p {
  color: #6c757d;
  font-size: 16px;
}