#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #bfb79c;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}

#mainNav .navbar-toggler {
  padding: 0.75rem;
  font-size: 0.75rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  font-weight: 700;
}

#mainNav .navbar-brand {
  color: #ffc800;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
}

#mainNav .navbar-brand img {
  height: 1.5rem;
}


#mainNav .navbar-nav .nav-item .nav-link {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.95rem;
  color: #000;
  letter-spacing: 0.0625em;
}

#mainNav .navbar-nav.active .nav-item.active .nav-link.active,
.navbar-nav:hover .nav-item:hover .nav-link:hover {
  color: #ffc800;
}

#mainNav {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border: none;
  /*透明verbackground-color: #bfb79c;*/
  background-color: transparent;
  transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
  box-shadow: none;
}

#mainNav .navbar-brand {
  font-size: 1.5em;
  transition: font-size 0.3s ease-in-out;
}

#mainNav .navbar-brand img {
  /* filter: invert(88%) sepia(61%) saturate(0%) hue-rotate(229deg) brightness(107%) contrast(101%); */
  filter: invert(88%) sepia(91%) saturate(0%) hue-rotate(229deg) brightness(1000%) contrast(101%);
  height: 5rem;
  transition: height 0.3s ease-in-out;
}

#mainNav.navbar-shrink {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #FFFFFF;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}

#mainNav.navbar-shrink .navbar-brand {
  font-size: 1.25em;
}

#mainNav.navbar-shrink .navbar-brand svg,
#mainNav.navbar-shrink .navbar-brand img {
  filter: none;
  height: 4rem;
}

#mainNav.navbar-shrink .navbar-nav .nav-item .nav-link {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.8rem;
  color: #000;
  letter-spacing: 0.0625em;
}

#mainNav.navbar-shrink .navbar-nav .nav-item .nav-link.active {
  color: #ffc800;
}

#mainNav .navbar-nav .nav-item {
  margin-right: 2rem;
}

#mainNav .navbar-nav .nav-item:last-child {
  margin-right: 0;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 2rem;
  color: #FFFFFF;
  letter-spacing: 0.0625em;
}

#mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #ffc800;
}

/*header*/
header.masthead {
  padding-top: 40rem;
  padding-bottom: 40rem;
  text-align: center;
  color: #fff;
  /* background-image: url(../assets/img/header-bg1.jpg); */
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url(../img/top.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}